@charset "utf-8";

.footer{
  width: 100%;
  background-color: #000;
}
.footer .inner-footer{
  display: flex;
  justify-content: center;
}
.footer .inner-footer .fcon{
  /* background-color: #f00; */
  flex: 0 1 1600px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .inner-footer .fcon p{
  text-align: left;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 10px 10px;
  /* background-color: aqua; */
  box-sizing: border-box;
  color: #fff;
}