@charset "utf-8";
@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

#wrap{
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
#cursor {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  /* border-radius: 45% 77% 75% 45% / 45% 45% 75% 75%; */
  background: #ffffff;
  /* background: linear-gradient(30deg,rgb(213, 4, 172),rgb(255, 144, 33)); */
  /* background: linear-gradient(150deg,#C82F8B,#E76710); */
  /* background: conic-gradient(#E4007F,#FFF100,#00A0E9); */
  /* background: linear-gradient(150deg,#f32aa2,#ffe83e); */
  /* background: linear-gradient(150deg,#E4007F,#FFF100); */
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform .5s;
  z-index: 9999;
}
/* #cursor.hovered { */
  /* transform: scale(2,2); */
  /* transform: rotate(360deg); */
  /* animation: animateBlob 3s infinite linear; */
/* } */
/* @keyframes animateBlob {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

.container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


/* 222222222 */
.container .sections .section.sec{
  width: 100%;
  height: auto;
  /* background-color: #dadada; */
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .sections .section.sec .sec-con{
  flex: 0 1 1600px;
}
.container .sections .section.sec .sec-con>ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(2, minmax(250px, auto));

  grid-auto-columns: minmax(auto);
  grid-auto-rows: minmax(250px, auto);

  gap: 50px;
}
.container .sections .section.sec .sec-con>ul>li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(193, 207, 255);
  background-color: rgb(0, 0, 0);
}
.container .sections .section.sec .sec-con>ul>li img{
  width: 100%;
  height: auto;
  display: block;
}
.container .sections .section.sec .sec-con>ul>li img:hover{
  /* opacity: 0.5; */
  /* mix-blend-mode: difference; */
  /* box-shadow: 0px 0px 20px rgb(246, 246, 246); */
  /* filter: blur(3px); */
  filter: grayscale(100%);
  /* cursor: pointer; */
}
.container .sections .section.sec .sec-con >ul>li p{
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  /* background-color: rgb(187, 128, 255); */
  color: #fff;
}


.popUp{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.837);
	/* -webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px); */
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
}
.popUp .popUp-con{
  flex: 0 1 700px;
  height: auto;
  /* border: 1px solid #fff; */
}
.popUp .popUp-con img{
  width: 100%;
  height: auto;
  display: block;
}
.popUp .popUp-con p{
  text-align: center;
  line-height: 50px;
  background-color: #fff;
}
.pop-animation{
  transition: all 0.1s ease-in-out;
  /* ▼animation대신 */
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 1;
}


@media only screen and (max-width:767px){
  .container .sections .section.sec .sec-con>ul{
    grid-template-columns: repeat(2, 1fr) ;
    gap: 10px;
  }
  .popUp .popUp-con{
    flex: 0 1 400px;
  }
  }